
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

.multiselect__tags {
	border-radius: 0px !important;
	height: 36px;
}

.main-header .logo {
	background-color: #fff !important;
}